/* QTML Stylesheet - @cedric0591 on Discord */

:root {
    --qtml--font: 'Arial', sans-serif;

    --qtml--bg: #161616; /* background color */
    --qtml--bg-secondary: #191919; /* secondary background color */

    --qtml--color: #ffffff; /* text color */
    --qtml--color-secondary: #cccccc; /* secondary text color */

    --qtml--accent: #fcfcfc; /* accent color */
    --qtml--accent-hover: #ffffff; /* accent hover color */

    --qtml--outline: 2px solid;
    --qtml--outline-color: #404040;
    --qtml--outline-hover: #606060;
    
    --qtml--element-background: transparent;
    --qtml--margin: 10px;
    --qtml--padding: 1.5vh 2.5vh;
    --qtml--border-radius: 5px;
    --qtml--line-height: 1.2;
    --qtml--transition: 0.3s;

    --qtml--icon-size: 12px;
    --qtml--font-size: 3vh;
    --qtml--button-font-size: 2vh;
    --qtml--font-size-mobile: 16px;
    --qtml--scale: 1.2;

    --qtml--shadetext: #71717a; /* secondary span */
    --qtml--text-big: 9vh;
    --qtml--text-header: 5vh;
    --qtml--fade-speed: 3s;
    --qtml--animation-speed: 1s;
}

/* Themes */
[qtml-theme="purple"] {
    --qtml--accent: #5d18dc;
    --qtml--accent-hover: #6119e6;
    --qtml--background: #391084;
    --qtml--background-hover: rgb(65, 18, 144);
}
[qtml-theme="cyan"] {
    --qtml--accent: #3df2ad;
    --qtml--accent-hover: #4df2ad;
    --qtml--background: #247151;
    --qtml--background-hover: #3a9768;
}
[qtml-theme="red"] {
    --qtml--accent: #f56565;
    --qtml--accent-hover: #ef4444;
    --qtml--background: #7f1d1d;
    --qtml--background-hover: #902020;
}
[qtml-theme="magenta"] {
    --qtml--accent: #B983FF;
    --qtml--accent-hover: #C48EFF;
    --qtml--background: #4C1D95;
    --qtml--background-hover: #5a22ad;
}
[qtml-theme="yellow"] {
    --qtml--accent: #facc15;
    --qtml--accent-hover: #fbbf24;
    --qtml--background: #7f5f00;
    --qtml--background-hover: #8f6f00; /* a little brighter */ 
}
[qtml-theme="blue"] {
    --qtml--accent: #3b82f6;
    --qtml--accent-hover: #2563eb;
    --qtml--background: #1e3a8a;
    --qtml--background-hover: #2548a7;
}
[qtml-mode="light"] {
    --qtml--bg: #ffffff;
    --qtml--bg-secondary: #f9f9f9;
    --qtml--color: #111111;
    --qtml--color-secondary: #000000;
    --qtml--outline-color: #dddddd;
    --qtml--outline-hover: #bbbbbb;
}
[qtml-mode="dark"] {
    --qtml--bg: #111111;
    --qtml--bg-secondary: #131313;
    --qtml--color: #ffffff;
    --qtml--color-secondary: #cccccc;
    --qtml--outline-color: #404040;
    --qtml--outline-hover: #606060;
}

/* color palette */
.purple {
    color: #5d18dc;
}
.cyan {
    color: #3df2ad;
}
.red {
    color: #f56565;
}
.magenta {
    color: #B983FF;
}
.yellow {
    color: #facc15;
}
.blue {
    color: #3b82f6;
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    background-color: var(--qtml--bg);
    font-family: var(--qtml--font);
    margin: var(--qtml--margin);
    color: var(--qtml--color);
    font-size: var(--qtml--font-size);}
i {
    font-size: var(--qtml--icon-size);}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: var(--qtml--padding);
    text-align: center;}
hr {
    background-color: var(--qtml--accent);
    height: 1px;
    border: none;
}
/* Utilities */
.gradient {
    background: -webkit-linear-gradient(45deg, var(--qtml--accent), var(--qtml--color) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
.reverse-gradient {
    background: -webkit-linear-gradient(45deg, var(--qtml--color), var(--qtml--accent) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
.glow {
    text-shadow: 0 0 8px var(--qtml--accent);}
.glow-hover:hover {
    text-shadow: 0 0 8px var(--qtml--accent-hover);}
.drop-shadow {
    filter: drop-shadow(2px 2px var(--qtml--accent-hover));
}
/* Components */
button.primary {
    border-radius: var(--qtml--border-radius);
    background: var(--qtml--element-background);
    border:none;
    transition:var(--qtml--transition);
    padding: var(--qtml--padding);
    color: var(--qtml--color-secondary);
    font-weight: bold;
    letter-spacing: 0.5px;
    border: var(--qtml--outline);
    border-color: var(--qtml--outline-color);
    font-size: var(--qtml--button-font-size)}
button.primary:hover {
    box-shadow:0 0 10px var(--qtml--accent);
    background:var(--qtml--accent);
    transition:var(--qtml--transition);
    color:var(--qtml--bg);
    cursor:pointer;
    border: var(--qtml--outline);
    border-color: var(--qtml--accent);}
button.primary:active {
    transform: scale(0.95);
    transition:var(--qtml--transition);}
button.secondary {
    padding: var(--qtml--padding);
    border-radius: var(--qtml--border-radius);
    border: 0;
    background: var(--qtml--element-background);
    letter-spacing: 1.5px;
    transition: all .5s ease;
    color: var(--qtml--color);}
button.secondary:hover {
    letter-spacing: 3px;
    background-color: var(--qtml--accent);
    color: var(--qtml--bg);
    box-shadow: var(--qtml--accent) 0px 7px 29px 0px;
    cursor:pointer;}
button.secondary:active {
    letter-spacing: 3px;
    background-color: var(--qtml--accent);
    color: var(--qtml--bg);
    box-shadow: var(--qtml--accent) 0px 0px 0px 0px;
    transform: translateY(4px);
    transition: 100ms;}
input.primary {
    background: var(--qtml--element-background);
    border: var(--qtml--outline);
    border-color: var(--qtml--outline-color);
    color:var(--qtml--color-secondary);
    border-radius: var(--qtml--border-radius);
    padding: var(--qtml--padding);
    transition: var(--qtml--transition);}  
input.primary:hover {
    border-color: var(--qtml--outline-hover);
    transition: var(--qtml--transition);}
input.primary:hover::placeholder {
    color:var(--qtml--accent);
    transition:var(--qtml--transition);}
input.primary::placeholder {
    transition:var(--qtml--transition);}
input:focus{
    outline: none;}
span.primary {
    color: var(--qtml--accent);
    letter-spacing: 1px;
    transition: var(--qtml--transition);}
span.secondary {
    color: var(--qtml--shadetext);
    transition: var(--qtml--transition);}
i.primary {
    color: var(--qtml--accent);}
i.secondary {
    color: var(--qtml--shadetext);}
i.large {
    font-size:20px;}
a.primary {
    text-decoration: none;
    color: var(--qtml--accent);
    transition:var(--qtml--transition);
}
a.primary:hover {
    color: var(--qtml--accent-hover);
    transition:var(--qtml--transition);}
a.secondary {
    color: var(--qtml--accent);
    background-color: var(--qtml--background);
    text-decoration: none;
    border-radius: 4px;
    padding: 2px 2px;
    white-space: nowrap;
    transition:var(--qtml--transition);}
a.secondary:hover {
    background-color: var(--qtml--background-hover);
    transition:var(--qtml--transition);}
div.outline {
    border: var(--qtml--outline);
    border-color: var(--qtml--accent);}
iframe.primary {
    border-radius: var(--qtml--border-radius);
}
.container {
    background-color: var(--qtml--bg-secondary);
    border: var(--qtml--outline);
    border-color: var(--qtml--outline-color);
    border-radius: var(--qtml--border-radius);
    transition:var(--qtml--transition);
    display: inline-block;
    padding: var(--qtml--padding);
    vertical-align: middle;
    line-height: var(--qtml--line-height);}
.container:hover {
    border-color: var(--qtml--outline-hover);}
.text-sans {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.text-serif {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;}
.text-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;}
.text-big {
    font-weight: 800;
    font-size: var(--qtml--text-big);}
.text-header {
    font-weight: 650;
    font-size: var(--qtml--text-header);}
.scale {
    transform: scale(var(--qtml--scale));}
.scale-hover:hover {
    transform: scale(var(--qtml--scale));
}
.in-flex {
    display: inline-flex;}
.in-block {
    display: inline-block;}
.flex {
    display:flex; align-items:center;}
.block {
    display:block;}
.column {
    flex-direction:column;}
.row {
    flex-direction:row;}
.bold {
    font-weight: 700;}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.middle {
    vertical-align:middle;}
.top {
    vertical-align:text-top;}
.text-center {
    text-align:center;}
.text-right {
    text-align:right;}
.text-left {
    text-align:left;}
.transparent {
    background-color: transparent;}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
.pointer {
    cursor:pointer;}
.pulse {
    transition:var(--qtml--transition);
    animation:pulse_anim;
    animation-duration:4s;
    animation-iteration-count:infinite;}
.auto {
    height:100%;
    width:100%;
}

/* animations */
hr.pulse {
    transition:var(--qtml--transition);
    animation:pulse_anim_bg;
    animation-duration:4s;
    animation-iteration-count:infinite;}
@keyframes pulse_anim {
    0%, 100% { color: var(--qtml--color); }
    50% { color: var(--qtml--accent); text-shadow: var(--qtml--accent) 1px 0 10px; }
}
@keyframes pulse_anim_bg {
    0%, 100% { background-color: var(--qtml--color); }
    50% { background-color: var(--qtml--accent); text-shadow: var(--qtml--accent) 1px 0 10px; }
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}    
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes shrink {
    from {transform: scale(1)}
    to {transform: scale(0)}    
}

@keyframes grow {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.fade-in {
    animation:fade-in;
    animation-duration: var(--qtml--fade-speed);
    animation-fill-mode:forwards;
}

.fade-out {
    animation:fade-out;
    animation-duration: var(--qtml--fade-speed);
    animation-fill-mode:forwards;
}

.shrink {
    animation:shrink;
    animation-duration: var(--qtml--animation-speed);
    animation-fill-mode:forwards;
}

.grow {
    animation:grow;
    animation-duration: var(--qtml--animation-speed);
    animation-fill-mode:forwards;
}

/* mobile */
@media (max-width: 900px) {
    .text-big {
        font-weight: 800;
        font-size: 4.5vh;
    }
}
