<!DOCTYPE html>
<html lang="en" qtml-mode="light" qtml-theme="cyan">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QTML Login Template</title>
        <link href="https://cdn.jsdelivr.net/gh/alvin677/qtml@latest/qtml.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="center container grid" style="gap:8px; box-shadow:0 0 100px 1px var(--qtml--outline-color);">
            <span class="primary gradient animate">Login</span>
            <input class="primary small" placeholder="email"/>
            <input class="primary small" placeholder="password"/>
            <!--span class="red small">something went wrong</span-->
            <button class="primary small">Login</button>
        </div>
    </body>
</html>